<div class="left fullWidth border" style="background-color: lightgreen;">
    <div class="left quickDetailsParameter">Overall Rating:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left halfWidth border">
    <div class="left quickDetailsParameter">Couple Friendly:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left width49 border">
    <div class="left quickDetailsParameter">Pet Friendly:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left halfWidth border">
    <div class="left quickDetailsParameter">Hygiene:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left width49 border">
    <div class="left quickDetailsParameter">Food & Beverages:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left halfWidth border">
    <div class="left quickDetailsParameter">Romantic[Ambience]:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left width49 border">
    <div class="left quickDetailsParameter">Hospitality:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left halfWidth border">
    <div class="left quickDetailsParameter">Accessibility:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
