<div id="divSearch" class="search border">
    <div class="searchSections border">
        Select State ::
                <select id="optState">
                    <option>Select</option>
                    <option>TamilNadu</option>
                </select>
            Select Location ::
                <select id="optLocation">
                    <option>Select</option>
                    <option>Yercaud</option>
                </select>
        <button id="btnFilter">Search</button>
    </div>
</div>

