@{
    ViewBag.Title = "Start";
}

<div style="height: 5%; width: 100%">
    <h2>Welcome to Outing Advisor</h2>
</div>
<div style="height: 34%; width: 100%">
    The idea of this site is to give awareness on less popular or unheard of outing locations.
Often many great places are neglected due to sheer ignorance. Thats what we are trying to reduce by embarking on this mission.
    You can be a part of this mission by adding the places you have been to and hence helping a lot others.
    
    Please leave your suggestions/comments to make us serve you better.
</div>
<div style="height: 60%; width: 100%">Picture link to locations based on place of SignIn</div>

