<div class="left fullWidth border" style="background-color: darksalmon;">
    <div class="left quickDetailsParameter">Safety:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left fullWidth border" style="background-color: darksalmon;">
    <div class="left quickDetailsParameter">Accessibility:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left fullWidth border" style="background-color: darksalmon;">
    <div class="left quickDetailsParameter">Accomodation:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left fullWidth border" style="background-color: darksalmon;">
    <div class="left quickDetailsParameter">Travel:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
<div class="left fullWidth border" style="background-color: darksalmon;">
    <div class="left quickDetailsParameter">Romantic:</div>
    <div class="left quickDetailsResults star-icon star-four" data-value="4" aria-readonly="true"></div>
</div>
