<div class="centrePosition border fullWidth">
    <div id="backward" class="left ui-icon ui-icon-circle-arrow-w arrowListing"></div>
    <img src="~/Content/Images/sky.jpg" class="shortImageDimensionsListing picture" />
    <div id="forward" class="right ui-icon ui-icon-circle-arrow-e arrowListing"></div>
</div>

