<div class="left width49">
    <div class="left fullWidth border" style="background-color: darksalmon;"><span class=""><a href="http://wikitravel.org/en/Yercaud">Yercaud, TamilNadu</a> [Hyperlink disabled for details]</span><span class="quickDetailsResults"></span></div>
    <div class="left fullWidth border" style="background-color: darksalmon;"><span class="quickDetailsParameter">Type of Location: </span><span class="quickDetailsResults">Hill Station</span></div>
    <div class="left fullWidth border" style="background-color: darksalmon;"><span class="quickDetailsParameter">Activities: </span><span class="quickDetailsResults">Trekking, Cycling, RockClimbing..</span></div>
    <div class="left fullWidth border" style="background-color: darksalmon;"><span class="quickDetailsParameter">Distance from City: </span><span class="quickDetailsResults">230km</span></div>
    <div class="left fullWidth border" style="background-color: darksalmon;"><span class="quickDetailsParameter">Maximum Trip Duration: </span><span class="quickDetailsResults">2 days</span></div>
    <div class="left fullWidth border" style="background-color: darksalmon;"><span class="quickDetailsParameter">Preferred Time for Visit: </span><span class="quickDetailsResults">January-February</span></div>
</div>
<div class="right width49">@{Html.RenderPartial("_LocationRatings");}</div>
